{% extends"./layout.html"%}
{% block body %}

  <!-- Navbar -->
  
  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link">
      <img src="{{url_for('static',filename='theme/dist/img/AdminLTELogo.png')}}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
           style="opacity: .8">
      <span class="brand-text font-weight-light">Vehicle Verification</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <!-- Sidebar Menu -->
      <nav class="mt-2">
          <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"           data-accordion="false">
            <li class="nav-item has-treeview menu-open">
                <a href="/admin" class="nav-link">
                    <!-- <i class="nav-icon fas fa-tachometer-alt"></i> -->
                    <p>
                    Dashboard
                    <!-- <i class="right fas fa-angle-left"></i> -->
                    </p>
                </a>
            </li>
            <li class="nav-item has-treeview menu-open">
                <a href="/admin/vehicle/add" class="nav-link">
                    <!-- <i class="nav-icon fas fa-tachometer-alt"></i> -->
                    <p>
                    Register Vehicle
                    <!-- <i class="right fas fa-angle-left"></i> -->
                    </p>
                </a>
            </li>
              <li class="nav-item has-treeview menu-open">
                <a href="/admin/personnel" class="nav-link">
                    <!-- <i class="nav-icon fas fa-tachometer-alt"></i> -->
                    <p>
                    Register Personnel
                    <!-- <i class="right fas fa-angle-left"></i> -->
                    </p>
                </a>
            </li>
            <li class="nav-item has-treeview menu-open">
                <a href="logout" class="nav-link">
                    <!-- <i class="nav-icon fas fa-tachometer-alt"></i> -->
                    <p>
                    logout
                    <!-- <i class="right fas fa-angle-left"></i> -->
                    </p>
                </a>
            </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Dashboard</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/admin">Home</a></li>
              <li class="breadcrumb-item active">Dashboard v1</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    {% include 'includes/_messages.html' %}
    <!-- Main content -->
    <section class="content">
        <div class="row"> 
            <div class="col-md-12">
                <table class="table">
    <thead class="thead-dark">
    <tr>
        <th>SN</th>
        <th>FIRST NAME</th>
        <th>LAST NAME</th>
        <th>VEHICLE NUMBER</th>
        <th>VEHICLE COLOUR</th>
        <th>TIME</th>
        <th></th>
    </tr>
    </thead>
    {% if results %}
    {% for result in results %}
    <tbody>
    <tr>

        <td>{{ loop.index }}</td>
        <td>{{ result.firstname }}</td>
        <td>{{ result.lastname }}</td>
        <td>{{ result.vehicle_number }}</td>
        <td>{{ result.color }}</td>
        <td>{{ moment(result.created_on).format('LLL') }}</td>
        <td><form action="{{ url_for('delete', vehicle_number=result.vehicle_number) }}" method="post">
            <input type="submit" value="Delete" class="btn">
        </form></td>
    </tr>
    </tbody>
    {% endfor %}
    {% endif %}
</table>
            </div>
        </div>

        <!-- /.row -->
        <!-- right col -->
        </div>
        <!-- /.row (main row) -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>

  {% endblock %}







