{% extends"./layout.html"%}

{% block body %}
	<nav class="navtop">
		<div>
			<h1>E Report</h1>
			<a href="/"><i class="fas fa-home"></i>Home</a>
		</div>
	</nav>

	{% include 'includes/_messages.html' %}
	
	<div class="register">
		<h1>Personnel Registration</h1>
		<form action="" method="post" autocomplete="off">
			<label for="username">
				<i class="fas fa-user"></i>
			</label>
			<input type="text" name="username" placeholder="Username" id="username" required>

			<label for="firstname">
				<i class="fas fa-user"></i>
			</label>
			<input type="text" name="firstname" placeholder="First Name" id="firstname" required>

			<label for="lastname">
				<i class="fas fa-user"></i>
			</label>
			<input type="text" name="lastname" placeholder="Last Name" id="lastname" required>


			<label for="department">
				<i class="fas fa-home"></i>
			</label>
			<input type="text" name="department" placeholder="Department" id="department" required>
			<label for="position">
				<i class="fas fa-user"></i>
			</label>
			<input type="number" name="position" placeholder="Position" id="position" min="1" required>

			<div class="msg">{{ msg }}</div>
			<input type="submit" value="Register">
		</form>
	</div>

{% endblock %}
